<div class="card-container">
  <div class="row">
  <br>
    <div class="col-xs-12 col-md-6">
        <div class="profile-card text-center">
          <div class="card-header">
            <h4><strong>Your submissions:</strong></h4>
          </div>
          <div class="card-body">
            <br>

          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-6">
        <div class="profile-card text-center">
          <div class="card-header">
            <h4><strong>Your evaluations:</strong></h4>
          </div>
          <div class="card-body">

          <% @papers_to_evaluate.try(:each) do |paper| %>
            <% unless paper.evaluation %>
            <h1>HELLO <%= paper.id %></h1>
             <%= link_to "Download", paper.attachment.url, target: '_blank', class: 'button-peer' %>
             <%= link_to "EVALUATE", new_paper_evaluation_path(paper), class: 'button-peer-white' %>
            <% end %>

        <% end %>

          </div>
        </div>
      </div>


  </div>

  <br>

</div>

<div class="card-container">
  <div class="row">
  <br>
    <div class="col-xs-12 col-md-6">
        <div class="profile-card text-center">
          <div class="card-header">
            <h4><strong>Finished evaluations:</strong></h4>
          </div>
          <div class="card-body">

          <% @evaluations.each do |evaluation| %>
          <p><%= evaluation.paper.assignment.name %></p>
          <p><%= evaluation.paper.student.first_name %></p>
          <br>
          <p><%= link_to "SHOW", evaluation_path(evaluation), class: 'button-peer-white' %></p>
          <br>
          <% end %>


          <br>
          <br>


          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-6">
        <div class="profile-card text-center">
          <div class="card-header">
            <h4><strong>XXX:</strong></h4>
          </div>
          <div class="card-body">




            <br>

          </div>
        </div>
      </div>

  </div>

  <br>
  <br>





  <br>

</div>






