<div class="card-container">
  <div class="row">
  <br>
    <div class="col-xs-12 col-md-6">
        <div class="profile-card text-center">
          <div class="card-header">
            <h4><strong>Your submissions:</strong></h4>
          </div>
          <div class="card-body">
            <br>

          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-6">
        <div class="profile-card text-center">
          <div class="card-header">
            <h4><strong>Your evaluations:</strong></h4>
          </div>
          <div class="card-body">

          <% @papers_to_evaluate.each do |paper| %>
            <% unless paper.evaluation %>
            <h1>HELLO <%= paper.id %></h1>
             <%= link_to "Download", paper.attachment.url, target: '_blank', class: 'button-peer' %>
             <%= link_to "EVALUATE", new_paper_evaluation_path(paper), class: 'button-peer-white' %>
            <% end %>
        <% end %>



            <% if @evaluated_paper %>
      <% if @evaluated_paper.assignment.deadline < Date.today %>
        <div>
          <p>The assignment you have to review will displayed on <%= @evaluated_paper.assignment.deadline %></p>
        </div>
      <%else%>
        <h4>You will evaluate</h4>
        <!-- HERE THE THING  -->
        <p><%= @evaluated_paper.student.first_name %> <%= @evaluated_paper.student.last_name %></p>
        <p>Assignment: <%= @evaluated_paper.assignment.name %></p>
        <p>Topic: <%= @evaluated_paper.assignment.topic.name %></p>
        <p>Deadline: <%= @evaluated_paper.assignment.deadline %></p>
        <br>
        <%= link_to "Download", @evaluated_paper.attachment.url, target: '_blank', class: 'button-peer' %>
        <%= link_to "EVALUATE", new_paper_evaluation_path(@evaluated_paper), class: 'button-peer-white' %>
        <br>
        <br>
      <%end%>
    <%end%>
          </div>
        </div>
      </div>


  </div>

  <br>

</div>

<div class="card-container">
  <div class="row">
  <br>
    <div class="col-xs-12 col-md-6">
        <div class="profile-card text-center">
          <div class="card-header">
            <h4><strong>Finished evaluations:</strong></h4>
          </div>
          <div class="card-body">

          <% @evaluations.each do |evaluation| %>
          <p><%= evaluation.paper.assignment.name %></p>
          <p><%= evaluation.paper.student.first_name %></p>
          <br>
          <p><%= link_to "SHOW", evaluation_path(evaluation), class: 'button-peer-white' %></p>
          <br>
          <% end %>


          <br>
          <br>


          </div>
        </div>
      </div>


      <div class="col-xs-12 col-md-6">
        <div class="profile-card text-center">
          <div class="card-header">
            <h4><strong>XXX:</strong></h4>
          </div>
          <div class="card-body">




            <br>

          </div>
        </div>
      </div>

  </div>

  <br>
  <br>



  <div class="row">
    <div class="col-xs-12 col-md 12">
      <div class="profile-card">
        <div class="card-header">
          <h4><strong>Graphs: </strong></h4>
          </div>
          <div class="card-body">
          <%= image_tag 'graph.png' %>
        </div>
      </div>
    </div>
  </div>

  <br>

</div>






