<div class="card-container">


  <div class="row" style="margin-right: 200px;">
  <div class="col-xs-12 col-md-12">
  <div class="profile-card">
    <div class="card-header">
      <h2>Evaluation: </h2>
    </div>
    <div class="card-body">
      <%= simple_form_for([@paper, @evaluation]) do |f| %>
      <%= f.input :readability, :as => :radio_buttons, :collection => 1..10, class: "radio"  %>
      <%= f.input :referencing, :as => :radio_buttons, :collection => 1..10, class: "radio" %>
      <%= f.input :knowledge_of_topic, :as => :radio_buttons, :collection => 1..10, class: "radio" %>
      <%= f.input :feeback_text, :input_html => {:rows => 5}, label: 'Feedback (minimum 20 characters)' %>
      <%= f.input :final_grade, :as => :radio_buttons, :collection => 1..10, class: "radio" %>

      <%= f.button :submit, class: 'button-peer' %>
      <% end %>
      <br>
</div>
</div>
</div>
</div>
</div>
