<div class="card-container">
  <div class="row">
  <br>
    <div class="col-xs-12 col-md-6">
        <div class="profile-card ">
          <div class="card-header">
            <h4><strong>Finished evaluation:</strong></h4>
          </div>
          <div class="card-body">
            <p><strong>Evaluated student: </strong><%= @evaluation.paper.student.first_name %> <%= @evaluation.paper.student.last_name %></p>
            <p><strong>Assignment: </strong><%= @evaluation.paper.assignment.name %></p>
        <p><strong>Topic: </strong><%= @evaluation.paper.assignment.topic.name %></p>
        <p><strong>Deadline: </strong><%= @evaluation.paper.assignment.deadline %></p>
        <hr>

          <h4><strong>Given feedback:</strong></h4>
          <p><strong>Readability: </strong><%= @evaluation.readability %></p>
          <p><strong>Referencing: </strong><%= @evaluation.referencing %></p>
          <p><strong>Topic knowledge: </strong><%= @evaluation.knowledge_of_topic %></p>
          <p><strong>Feedback: </strong><%= @evaluation.feeback_text %></p>
          <p><strong>Final grade: </strong><%= @evaluation.final_grade %></p>
          <p><strong>Evaluator: </strong><%= current_student.first_name %></p>
          <br>
            <%= link_to "Back", evaluations_path, class: 'button-peer-white' %>
            <br>
            <br>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="profile-card ">
          <div class="card-header">
            <h4><strong>Graph:</strong></h4>
          </div>
          <div class="card-body">

            <br>
            <br>
          </div>
        </div>
      </div>





  </div>

  <br>

</div>
