<h1>Assignments#index</h1>

<% @assignments.each do |assignment| %>
<ul>
  <%= assignment.name %>
  <%= assignment.description %>
  <%= assignment.deadline %>
  <%= assignment.specs %>
  <%= assignment.topic.name %>
  <%= assignment.classroom.name %>
</ul>
<% end %>
