
<div class="container">
<h1>Create new assignment</h1>
  <div class="row" style="margin-right: 200px;">
      <%= simple_form_for(@assignment) do |f| %>
      <%= f.association :teacher, label: 'Topic' , :collection => Topic.order(:name), :prompt => 'Choose a topic'  %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :specs  %>
      <%= f.input :deadline  %>
      <%= f.input :classroom_id, collection: Classroom.all %>

      <%= f.button :submit, class: 'btn btn-success' %>
      <% end %>
</div>
</div>

