<div class="card-container">
  <div class="row">
    <% if student_signed_in? %>
    <br>
    <div class="col-xs-12 col-md-6">
      <div class="profile-card">
      <div class="card-header">
        <h2>Assignment overview:</h2>
        </div>
        <div class="card-body">
        <br>
        <h5><strong>Teacher name: </strong><%= @assignment.teacher.first_name %>
          <%= @assignment.teacher.last_name %></h5>
          <h5><strong>Classroom: </strong><%= @assignment.classroom.name %></h5>
          <h5><strong>Topic: </strong><%= @assignment.topic.name %></h5>
          <h5><strong>Assignment name: </strong><%= @assignment.name %></h5>
          <h5><strong>Description: </strong><%= @assignment.description %></h5>
          <h5><strong>Specifications: </strong><%= @assignment.specs %></h5>
          <h5><strong>Deadline: </strong><%= @assignment.deadline %></h5>
          <!-- <h5><strong>Status: </strong><%= @assignment.status %></h5> -->
          <br>
          <h6><%= link_to 'Upload Your Assignment',  new_assignment_paper_path(@assignment),  class: "button-peer-classroom" %></h6>
          <br>
          <br>

          <%= link_to "Back", student_path(current_student), class: 'button-peer-white' %>
          <br>
          <br>

          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="profile-card">
          <div class="card-header">
            <h2>Currently submitted papers:</h2>
            </div>
            <div class="card-body">


            <% @assignment.papers.each do |file| %>
            <%= file.student.first_name %>
              <% if file.student == current_student %>
              <h5><%= file.student.first_name  %> <%= file.student.last_name  %> | <%= file.title %> | - <%= link_to "SHOW",file.attachment.url, target: '_blank' %> </h5>
              <% end %>
             <% end %>

          </div>
        </div>
      </div>
      <% else teacher_signed_in? %>
<div class="col-xs-12 col-md-6">
      <div class="profile-card">
      <div class="card-header">
        <h2>Assignment overview:</h2>
        </div>
        <div class="card-body">
        <br>
        <h5><strong>Teacher name: </strong><%= @assignment.teacher.first_name %>
          <%= @assignment.teacher.last_name %></h5>
          <h5><strong>Classroom: </strong><%= @assignment.classroom.name %></h5>
          <h5><strong>Topic: </strong><%= @assignment.topic.name %></h5>
          <h5><strong>Assignment name: </strong><%= @assignment.name %></h5>
          <h5><strong>Description: </strong><%= @assignment.description %></h5>
          <h5><strong>Specifications: </strong><%= @assignment.specs %></h5>
          <h5><strong>Deadline: </strong><%= @assignment.deadline %></h5>
          <br>

          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="profile-card">
          <div class="card-header">
            <h2>Who's submitted the paper:</h2>
            </div>
            <div class="card-body">


            <% @assignment.papers.each do |file| %>

            <h5><%= file.student.first_name  %> <%= file.student.last_name  %> | <%= file.title %> | - <%= link_to "SHOW",file.attachment.url, target: '_blank' %> </h5>
            <% end %>

          </div>
        </div>
      </div>

      <% end %>
    </div>
  </div>
