<div class="profile-container">
  <div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3 col-lg-offset-2">

<h2>Assignment overview:</h2>
<br>

<h5>Assignment topic:
  <%= @assignment.topic_id %></h5>
<h5>Assignment name:
  <%= @assignment.name %></h5>
  <h5>Description: <%= @assignment.description %></h5>

  <h5>Deadline: <%= @assignment.deadline %></h5>

  <br>
  <h6><%= link_to 'Upload Your Assignment',  class: "btn btn-success" %></h6>


  <%= link_to 'Go back to Dashboard', class: "btn btn-succes" %>

</div>

</div>
</div>
