
<% if assignment.deadline.send(operation, Date.today) %>
<h5><strong>Assignment name: </strong><%= assignment.name %></h5>
<!-- <h5><strong>Description: </strong><%= assignment.description %></h5> -->
<!-- <h5><strong>Specifications: </strong><%= assignment.specs %></h5> -->
<h5><strong>Deadline: </strong><%= assignment.deadline %></h5>
<br>
<h6><%= link_to 'SHOW DETAILS', assignment_path(assignment),  class: "button-peer" %>
  <br>
  <br>
</h6>
<hr>
<% end %>
