
<div class="container">
  <div class="row">
    <div class="text-left">
      <br>
      <h2><strong>Welcome to your dashboard, <%= @student.first_name %>!</strong></h2>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="profile-card text-center">
        <h4><%= @student.first_name %> <%= @student.last_name %></h4>
        <br>
        <div class="banner-image">
          <%= image_tag @student.photo, class:"banner-image avatar"%>
          <h5 ><%= @student.description %></h5>
          <h5><%= @student.classroom.name %></h5>
          <h5 class="weak"><%= @student.city %></h5>
          <h5 class="weak"><%= @student.date_of_birth %></h5>
          <%= link_to 'Edit profile', edit_student_path %>
        </div>
      </div>
    </div>

    <% hash_options_assignments.each do |k,v| %>
      <div class="col-xs-12 col-md-8">
        <div class="card card-inverse <%= k %> text-left">
          <div class="card-block">
              <h4><strong><%= v[:text] %></strong></h4>
              <%= render partial: 'assignment', collection: @student.classroom.assignments, as: :assignment , locals: {operation: v[:operation]}%>

          </div>
        </div>
      </div>
    <% end %>

  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <div class="card card-inverse todo mb-3 text-center">
        <div class="card-block">
            <h4><strong>Still To Do</strong></h4>
            <ul>
              <li>Overall graphs of performance (with clickable filters on performance)</li>
              <li>Cards showing previous assignments with grades (clickable for detail)</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
