
<div class="card-container">
  <div class="row">
  <br>
    <div class="col-xs-12 col-md-6">
      <div class="profile-card text-center">
        <div class="card-header">
          <h4><strong>Welcome to your dashboard, <%= @student.first_name %>!</strong></h4>
        </div>
        <div class="card-body">

          <h4><%= @student.first_name %> <%= @student.last_name %></h4>
          <br>
          <div class="banner-image">
            <%= image_tag @student.photo, class:"banner-image avatar"%>
            <h5 ><%= @student.description %></h5>
            <h5><%= @student.classroom.name %></h5>
            <h5 class="weak"><%= @student.city %></h5>
            <h5 class="weak"><%= @student.date_of_birth %></h5>
            <%= link_to 'EDIT PROFILE', edit_student_path, class: 'btn btn-blue-1' %>
          </div>
        </div>
      </div>
    </div>


      <div class="col-xs-12 col-md-6">
        <div class="profile-card text-center">
          <div class="card-header">
            <h4><strong>Your classroom:</strong></h4>
          </div>
          <div class="card-body">

            <%= @student.classroom.name %>
            <br>

            <% @classroom.students.each do |student| %>

            <div class="card-classroom">
              <p class="element"><%= image_tag student.photo, class: 'avatar-small' %></p>
              <p class="other-element1"><%= student.first_name %> <%= student.last_name %></p>
              <p class="other-element2"><%= link_to 'PROFILE', student_path(student), class: 'btn btn-blue-1' %></p>

            </div>
            <% end %>


          </div>
        </div>
      </div>

  </div>

  <br>
  <br>

  <div class="row">
  <% hash_options_assignments.each do |k,v| %>
    <div class="col-xs-12 col-md-4">
      <div class="profile-card card-inverse <%= k %>">
        <div class="card-header">
          <h4><strong><%= v[:text] %></strong></h4>
          </div>
          <div class="card-body">
          <%= render partial: 'assignment', collection: @student.classroom.assignments, as: :assignment , locals: {operation: v[:operation]}%>
          </div>

      </div>
    </div>
  <% end %>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md 12">
      <div class="profile-card">
        <div class="card-header">
          <h4><strong>Graphs: </strong></h4>
          </div>
          <div class="card-body">
          <%= image_tag 'graph.png' %>
        </div>
      </div>
    </div>
  </div>

  <br>

</div>
