
<div class="profile-container">
  <div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3 col-lg-offset-2">

<h2>Student profile:</h2>

<h4>
  <%= @student.first_name %> <%= @student.last_name %> </h4>
  <h5> About me: <%= @student.description %></h5>

  <h5>I'm from: <%= @student.city %></h5>

  <h5>Date of birth: <%= @student.date_of_birth %></h5>

  <h5>My Classroom: <%= @student.classroom.name %></h5>

</div>
</div>
</div>


