
<% if student_signed_in? && current_student.id == @student.id %>
<div class="card-container">
  <div class="row">
    <br>
    <div class="col-xs-12 col-md-6">
      <div class="profile-card text-center">
        <div class="card-header">
          <h4><strong>Welcome to your dashboard, <%= @student.first_name %>!</strong></h4>
        </div>
        <div class="card-body">

          <h4><%= @student.first_name %> <%= @student.last_name %></h4>
          <br>
          <div class="banner-image">
            <%= image_tag @student.photo, class:"banner-image avatar"%>
            <h5 ><%= @student.description %></h5>
            <h5><%= @student.classroom.name %></h5>
            <h5 class="weak"><%= @student.city %></h5>
            <h5 class="weak"><%= @student.date_of_birth.strftime("%d/%m/%Y") %></h5>
            <br>
            <%= link_to 'EDIT PROFILE', edit_student_path, class: 'button-peer-classroom' %>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-md-6">
      <div class="profile-card text-center">
        <div class="card-header">
          <h4><strong>Progress:</strong></h4>
        </div>
        <div class="card-body">

          <h3>Student Grades Evolution</h3>
          <%= line_chart @student_grades_history, xtitle: "Final grade", ytitle: "Date", colors: ["#52C4CE"] %>
          <hr>
          <h3>Last paper performance details</h3>
          <%= bar_chart @paper_chart_input, xtitle: "Evaluation criteria", ytitle: "Grade", colors: ["#52C4CE"] %>
          <br>


        </div>
      </div>
    </div>

  </div>

  <br>
  <br>

  <div class="row">
    <% hash_options_assignments.each do |k,v| %>
    <div class="col-xs-12 col-md-4">
      <div class="profile-card card-inverse <%= k %>">
        <div class="card-header">
          <h4><strong><%= v[:text] %></strong></h4>
        </div>
        <div class="card-body">
          <%= render partial: 'assignment', collection: @student.classroom.assignments, as: :assignment , locals: {operation: v[:operation]}%>
       </div>

      </div>
    </div>
  <% end %>
  </div>

  <br>

</div>

<% else %>

<div class="card-container">
  <div class="row">
  <br>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="profile-card text-center">
        <div class="card-header">

          <h4><strong>Student Profile</strong></h4>
        </div>
        <div class="card-body">

            <h4><%= @student.first_name %> <%= @student.last_name %></h4>
            <br>
            <div class="banner-image">
              <%= image_tag @student.photo, class:"banner-image avatar"%>
              <h5 ><%= @student.description %></h5>
              <h5><%= @student.classroom.name %></h5>
              <h5 class="weak"><%= @student.city %></h5>
              <h5 class="weak"><%= @student.date_of_birth.strftime("%d/%m/%Y") %></h5>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


  <% end %>
