<footer>
<div class="container w-container">
<div class="col-xs-12 col-md-3">
  <ul>
    <li><strong>PeerView</strong></li>
    <li><%= link_to 'Get started', sign_up_path, class: 'a' %></li>
    <li><%= link_to 'How it works', how_it_works_path, class: 'a' %></li>
    <li><%= link_to 'Blog', blog_post_path, class: 'a' %></li>
    <li><%= link_to 'Pricing', sign_up_path, class: 'a' %></li>
  </ul>
  </div>
  <div class="col-xs-12 col-md-3">
  <ul>
    <li><strong>Who</strong></li>
    <li><%= link_to 'University', sign_up_path, class: 'a' %></li>
    <li><%= link_to 'Institution', sign_up_path, class: 'a' %></li>
    <li><%= link_to 'Team', sign_up_path, class: 'a' %></li>
    <li><%= link_to 'Individual', sign_up_path, class: 'a' %></li>
  </ul>
  </div>
  <div class="col-xs-12 col-md-3">
  <ul>
    <li><strong>About</strong></li>
    <li><%= link_to 'Contact', sign_up_path, class: 'a' %></li>
    <li><%= link_to 'FAQ', sign_up_path, class: 'a' %></li>
    <li><%= link_to 'Terms & conditions', sign_up_path, class: 'a' %></li>
  </ul>
  </div>
  <div class="col-xs-12 col-md-3">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github fa-2x"></i></a>
    <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
    <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
  </div>
  </div>
  </div>

</footer>
