
<div class="overall-content-wrapper-1">
  <%= image_tag 'feedbackgroup.png' , class: 'main-picture' %>
  <div class="container w-container">
    <div class="content-block">
      <div class="line-divider">
      </div>
      <h1 class="title-small">Review your peers' assignments!</h1>
    </div>

    <div class="button-wrapper">
      <%= link_to 'GET STARTED', sign_up_path, class: 'button-peer' %>
    </div>
  </div>
</div>

<div class="overall-content-wrapper-2">
  <div class="container w-container">
    <h1 class="title-small">How PeerViews works</h1>
  </div>
  <div class="container w-container">
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'add-pic.png', class: 'feature-icon' %>
      <div class="feature-title">Creating assignment</div>
      <p class="small-paragraph">The teacher creates an assignment for his class with specifications, the topic and a hand-in deadline</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'upload-pic.png', class: 'feature-icon' %>
      <div class="feature-title">Upload assignment</div>
      <p class="small-paragraph">The student can view its assignments and upload them to the platform</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'feedback-pic.png', class: 'feature-icon' %>
      <div class="feature-title">Give feedback</div>
      <p class="small-paragraph">The handed-in documents are randomized and distributes over the class for evaluation</p>
    </div>
  </div>
  <div class="container w-container">
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'view-pic.png', class: 'feature-icon' %>
      <div class="feature-title">View evaluations</div>
      <p class="small-paragraph">The students can view the evaluations they created and evaluations received from peers</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'assignments-pic.png', class: 'feature-icon' %>
      <div class="feature-title">Access feedbacks</div>
      <p class="small-paragraph">The teacher gets a complete report on assignments and feedbacks</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= image_tag 'report-pic.png', class: 'feature-icon' %>
      <div class="feature-title">Get full report</div>
      <p class="small-paragraph">All reports, assignments and evalutions can be checked in a full analysis</p>
    </div>
  </div>

</div>


<div class="overall-content-wrapper-3">

  <div class="container w-container">
    <div class="content-block">
      <h3 class="subtitle-small">Following academic research</h3>
      <h2 class="subtitle-big">Peer to peer feedback increases the learning curve!</h2>

      <div class="line-divider">
      </div>

      <p class="paragraph-text">PeerViews is not just a tool that can provide you with insights into your students’ performance and save you time. It also creates a much better learning experience for your students. Don’t believe us? There’s a bunch of studies that actually proves that it can increase learning up to 30%! PeerViews is not just a tool that can provide you with insights into your students’ performance and save you time. It also creates a much better learning experience for your students. Don’t believe us? There’s a bunch of studies that actually proves that it can increase learning up to 30%!</p>

      <div class="a button-wrapper">
        <%= link_to 'Learn more', blog_post_path, class: 'button-peer-white' %>
      </div>
    </div>
  </div>
</div>

<div class="overall-content-wrapper-4">

  <div class="container w-container">
    <div class="content-block">
      <h1 class="title-small-email">Enter your email address to be kept up to date</h1>
       <div class="line-divider">
      </div>

      <div class="dashboard-content-block">
        <div class="newsletter-form">
        <form method="post">
          <input class="email field w-input" type="email" placeholder="Enter your email address">
          <input class="button sign-up" type="submit" value="Sign Up">
        </form>
        </div>
      </div>




    </div>
  </div>
</div>

