
<div class="banner-lg" style="background-image:url(http://whitespacerevenue.com/wp-content/uploads/2015/08/ABC.jpg)";>
</div>
<div class="container">
  <div class="container w-container">
    <h1 class="title-small"><h1 class="text-center">As easy as ABC</h1></h1>
  </div>

  <div class="container w-container">

      <%= image_tag 'add-picb.png', class: 'feature-icon' %>
      <div class="feature-title" style="color:black;">Creating assignment</div>
      <p class="small-paragraph">The teacher creates an assignment for his class with specifications, the topic and a hand-in deadline</p>
      <%= image_tag 'upload-picb.png', class: 'feature-icon' %>
      <div class="feature-title" style="color:black;">Upload assignment</div>
      <p class="small-paragraph">The student can view its assignments and upload them to the platform</p>
      <%= image_tag 'feedback-picb.png', class: 'feature-icon' %>
      <div class="feature-title" style="color:black;">Give feedback</div>
      <p class="small-paragraph">The handed-in documents are randomized and distributes over the class for evaluation</p>
  </div>
  <div class="container w-container">

      <%= image_tag 'view-picb.png', class: 'feature-icon' %>
      <div class="feature-title" style="color:black;">View evaluations</div>
      <p class="small-paragraph">The students can view the evaluations they created and evaluations received from peers</p>

      <%= image_tag 'assignments-picb.png', class: 'feature-icon' %>
      <div class="feature-title" style="color:black;">Access feedbacks</div>
      <p class="small-paragraph">The teacher gets a complete report on assignments and feedbacks</p>


      <%= image_tag 'report-picb.png', class: 'feature-icon' %>
      <div class="feature-title" style="color:black;">Get full report</div>
      <p class="small-paragraph">All reports, assignments and evalutions can be checked in a full analysis</p>
    </div>
  </div>

