  <%= simple_form_for(@teacher) do |f| %>
  <div class="teacher-input">
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :last_name  %>
  <%= f.input :description %>
  <%= f.input :city %>
  <%= f.button :submit, class: 'btn btn-success' %>
  <% end %>
  </div>
