<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-3">
      <h1>Teacher's profile</h1>
      <h6>Name:</h6><p><%= @teacher.first_name %> <%= @teacher.last_name %></p>
      <h6>Email:</h6><p><%= @teacher.email %></p>
      <h6>City:</h6><p> <%= @teacher.city %></p>
      <h6>Courses:</h6><p><%= @teacher.courses %></p>
      <h6>Description:</h6><p><%= @teacher.description %></p>
      <br>
    </div>
  </div>
</div>
