<div class="container">
  <div class="row">

      <h2><strong>Teacher Dashboard: </strong></h2>
      <br>
      <h4>Name: <%= @teacher.first_name %> <%= @teacher.last_name %></h4>
      <h5>Email: <%= @teacher.email %></h5>
      <h5>City: <%= @teacher.city %></h5>
      <h5>Description: <%= @teacher.description %></h5>
      <br>

       <h4><strong>Classes:</strong></h4>
       <% classroom_array = [] %>
       <% @teacher.topics.each do |topic| %>
       <% topic.assignments.each do |assignment| %>
       <% classroom_array << {id:assignment.classroom.id, name: assignment.classroom.name } %>

       <% end %>
      <% end %>

      <% classroom_array.uniq.each do |p| %>
      <ul>
        <li><%= p[:name] %>  <%= link_to 'Show students', classroom_path(p[:id]),  class: "btn btn-success" %></li>
      </ul>
      <% end %>

       <h4><strong>Teaching:</strong></h4>
       <% @teacher.topics.each do |topic| %>
       <ul>
         <li><%= topic.name%></li>
       </ul>
       <% end %>

  </div>
</div>
